<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blitzchat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
    <div id="app">
        <div v-if="signedIn">
            <header id="header">
                <span id="name">Hello, {{displayName}}</span>
                <span id="chat-title">{{chatTitle}}</span>
            </header>

            <nav id="contacts">
                <div id="add-contact">
                    <i class="material-icons">add</i>
                    <span>Add Conversation</span>
                </div>
                <template v-for="contact in contacts">
                    <contact-item :contact="contact"/>
                </template>
            </nav>

            <div id="chat-space">
                <p id="chat-space-message">Tap a chat or drag one into me!</p>
            </div>

            <div id="chat-grid" ref="chatGrid"
                v-bind:class="{shown: openedChats.length > 0, single: openedChats.length == 1}">
                <template v-for="chat in openedChats">
                    <chat-window v-bind:chat="chat"></chat-window>
                </template>
            </div>
        </div>
        <button v-on:click="signIn" class="button primary" v-if="!signedIn">sign in</button>
    </div>

    <div id="loading"></div>

    <template id="contactItemTemplate">

        <div class="contactItem" v-on:click="open">
            <img v-bind:src="contact.picture" v-bind:alt="contact.name" width="50" height="50" class="picture">
            <h3>{{contact.name}}</h3>
            <p class="last-message">{{contact.lastMessage}}</p>
            <div class="actions">
                <button class="button" title="Mark as Read"><i class="material-icons">done_all</i></button>
                <button class="button warn" title="Remove Conversation"><i class="material-icons">delete</i></button>
            </div>
        </div>

    </template>

    <template id="chatWindowTemplate">

        <div class="chat-window">
            <div class="header">
                <span class="title"></span>
                <div class="actions">
                    <i class="material-icons button">close</i>
                    <i class="material-icons button">more</i>
                </div>
            </div>
            <div class="chat">

                <div v-for="message in chat.messages" class="message">
                    {{message.message}}
                </div>

            </div>
            <div id="sendMessage"></div>
        </div>

    </template>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>

    <script src="./scripts/vue.js"></script>
    <script src="./scripts/core.js" type="module"></script>
</body>

</html>