@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
html {
    overflow: hidden;
    width: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    height: 100%;
    position: fixed;
    /* prevent overscroll bounce*/
    -overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #222226;
    /* iOS velocity scrolling */
}

#header {
    padding: 16px;
    color: #77aaff;
    font-size: 130%;
}

#name {
    display: none;
    text-overflow: clip;
}

#chat-title {
    display: inline-block;
    text-overflow: clip;
}

#chat-space {
    height: calc(100vh - 70px);
    width: calc(100vw - 148px);
    float: right;
    margin-right: 16px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #ffffff22;
    border-radius: 10px;
    user-select: none;
}

#chat-space-message {
    margin-top: calc(50vh - 50px);
}

#contacts {
    width: 60px;
    height: calc(100vh - 70px);
    margin: 16px;
    margin-top: 0;
    display: inline-block;
}

#loading {
    width: 100vw;
    height: 100vh;
    background: #222226;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 50vh;
    user-select: none;
}

#no-contacts {
    color: #ffffff99;
    text-align: center;
    position: relative;
    top: 20vh;
    width: 100px;
    left: 50px;
    display: none;
}

.no-select {
    user-select: none;
}

.button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background: #ffffff22;
    border-radius: 8px;
    outline: none!important;
    color: white;
    transition: background 200ms;
    font-family: 'Rubik', sans-serif;
    backdrop-filter: blur(3px);
}

.button:hover {
    background: #ffffff44;
}

.button:active {
    background: #77aaff;
}

.button.round {
    border-radius: 1000px;
    padding-bottom: 6px;
}

.contact-item {
    padding: 2px 10px;
    cursor: pointer;
    line-height: 6px;
    border-radius: 6px;
    transition: background 100ms;
    user-select: none;
    height: 56px;
}

.contact-item:active {
    background: #77aaff99;
}

.contact-item p {
    display: none;
}

.contact-item:hover {
    background: #77aaff66;
}

.contact-item h3 {
    font-size: 14px;
    font-weight: lighter;
    color: #77aaff;
    display: none;
}

.contact-item .button {
    padding: 2px;
    background: transparent;
    border: none;
}

.contact-item .button i {
    font-size: 18px!important;
}

.contact-item .button:hover {
    color: #77aaff;
}

.contact-item .button.warn:hover {
    color: #ff3333;
}

.contact-item .actions {
    display: none;
}

.contact-item .picture {
    margin: 3px -5px;
    border-radius: 100px;
    float: left;
    width: 50px;
    height: 50px;
}

#chat-grid.shown {
    background: #222226;
    width: calc(100vw - 108px);
    height: calc(100vh - 70px);
    float: right;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

#chat-grid .chat-window {
    width: calc(100vw - 108px);
    border: 1px #ffffff66 solid;
    height: calc(100vh - 70px);
}

.chat-window {
    border: 1px #6d656566 solid;
    height: calc(100% - 72px);
    border-radius: 10px;
    transition: left 300ms ease, width 300ms ease, height 300ms ease;
}

#chat-grid.single .chat-window {
    width: calc(100vw - 108px);
}

#add-contact {
    cursor: pointer;
    padding: 14px;
    padding-left: 18px;
    padding-top: 17px;
    border-radius: 100px;
    margin-bottom: 16px;
    user-select: none;
    transition: background 100ms;
    -webkit-tap-highlight-color: transparent;
}

#add-contact:hover {
    background: #77aaff66;
}

#add-contact:active {
    background: #77aaff99;
}

#add-contact>span {
    position: relative;
    top: -6px;
    margin-left: 6px;
    display: none;
}

#new-conversation-form h2 {
    font-weight: lighter;
    text-align: center;
    padding-top: 70px;
}

#new-conversation-form>div {
    width: 100%;
    height: 100%;
}

.new-conversation-continue {
    position: relative;
    left: calc(50vw - 54px - 2.8em);
    top: -76px;
    border: none;
    color: #77aaff;
}

.active-glow {
    transition: background 100ms;
}

.active-glow:active {
    background: #77aaff66;
}

.blue {
    color: #77aaff;
}

#new-conversation-form .button.round {
    width: 46px;
    margin: auto;
    display: block;
    margin-bottom: 8px;
}

@keyframes input-hint {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes input-hint {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes input-hint {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes input-hint {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.input-hint {
    margin-top: 30vh;
    animation: input-hint 3s infinite;
    -moz-animation: input-hint 3s infinite;
    -webkit-animation: input-hint 3s infinite;
    -o-animation: input-hint 3s infinite;
}

.input {
    border: none;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    background: #ffffff33;
    color: white;
    font-family: 'Rubik', sans-serif;
    user-select: text;
}

.input:focus {
    background: #ffffff44;
    border: 1px #ffffff66 solid;
    padding: 9px;
}

#new-conversation-form>div {
    margin-top: -18px;
    border-radius: 6px;
    height: 100%;
    user-select: none;
}

#new-conversation-form .input {
    background: #ffffff11;
    border: none;
    width: calc(100% - 32px);
    margin: 0 auto;
    margin-bottom: 16px;
    display: block;
    padding: 10px;
    transition: background 100ms, box-shadow 100ms;
    box-shadow: none;
}

#new-conversation-form .input:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: #ffffff22;
}

#new-conversation-form .input:focus {
    -webkit-box-shadow: 0px 0px 6px 0px #00000066;
    -moz-box-shadow: 0px 0px 6px 0px #00000066;
    box-shadow: 0px 0px 6px 0px #00000066;
    background: #ffffff33;
}

.shadow {
    -webkit-box-shadow: 2px 2px 6px 0px #00000066;
    -moz-box-shadow: 2px 2px 6px 0px #00000066;
    box-shadow: 2px 2px 6px 0px #00000066;
}

.fill-window {
    width: calc(100% - 64px);
    margin: auto;
    padding: 16px;
    margin-bottom: 16px;
}

.rounded {
    border-radius: 10px;
}

.username-search-result {
    padding: 2px 10px;
    cursor: pointer;
    line-height: 6px;
    border-radius: 6px;
    transition: background 100ms;
    user-select: none;
    height: 46px;
    width: calc(100% - 16px);
    margin: auto;
    margin-top: 8px;
    text-overflow: clip;
    margin-bottom: 8px;
}

.username-search-result:active {
    background: #77aaff99;
}

.username-search-result:hover {
    background: #77aaff66;
}

.username-search-result .picture {
    margin: 3px -5px;
    border-radius: 100px;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.username-search-result h3 {
    font-size: 16px;
    font-weight: lighter;
    color: #77aaff;
    line-height: 10px;
}

.bordered {
    border: 1px #ffffff66 solid;
}

.bordered.flat {
    border: 1px #ffffff44 solid;
}

@media screen and (min-width: 720px) {
    body {
        overflow-y: hidden;
    }
    #name {
        width: 220px;
        display: inline-block;
    }
    #chat-space {
        width: calc(100vw - 292px);
    }
    #contacts {
        width: 204px;
    }
    .contact-item .actions {
        float: right;
        position: relative;
        top: -48px;
    }
    .contact-item h3, .contact-item p {
        display: block;
    }
    .contact-item:hover .actions {
        display: block;
    }
    .contact-item .picture {
        margin: 8px -2px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
    #chat-grid.shown {
        width: calc(100vw - 252px);
    }
    #chat-grid.single .chat-window {
        width: calc(100vw - 254px);
    }
    #add-contact {
        border-radius: 6px;
        padding: 8px;
        padding-top: 10px;
    }
    #add-contact>span {
        display: inline;
    }
    #no-contacts {
        display: block;
    }
    .new-conversation-continue {
        left: calc(50vw - 127px - 2.8em);
    }
    #new-conversation-form .input {
        padding: 16px;
        font-size: 18px;
    }
    .fill-window {
        width: 50%;
    }
}