html {
    overflow: hidden;
    scrollbar-width: 0px;
}

body {
    font-family: 'Questrial', 'Roboto', 'Sulphur Point', Anodina, sans-serif !important;
    font-size: 14px;
    color: white;
    background-color: #121212;
    margin: 0;
    touch-action: pan-y;
}

::selection {
    background: #2288ff66;
}

#triple-dots {
    background: transparent;
    float: right;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

#sign-in {
    text-align: center;
    user-select: none;
}

#sign-in-button {
    width: auto;
    margin: 10vh auto;
    display: block;
    font-size: 24px;
    padding: 24px;
    font-family: 'Roboto Mono', monospace!important;
    border: 2px #ffffff solid;
}

#sign-in-button:hover {
    box-shadow: 0px 0px 20px 20px #2288ff11;
}

#sign-in h1 {
    font-size: 60px;
    margin-top: 30vh;
}

#header {
    padding: 16px;
    color: #2288ff;
    font-size: 130%;
}

#name {
    display: none;
    text-overflow: clip;
}

#chat-title {
    display: inline-block;
    text-overflow: clip;
}

#chat-space {
    height: calc(100vh - 72px);
    width: calc(100vw - 150px);
    float: right;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    user-select: none;
    margin-right: 16px;
    border: 1px #ffffff66 solid;
}

#chat-space-message {
    margin-top: calc(50vh - 50px);
}

#contacts {
    width: 60px;
    height: calc(100vh - 70px);
    margin: 16px;
    margin-top: 0;
    display: inline-block;
}

#loading {
    width: 100vw;
    height: 100vh;
    background: #121212;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 100vh;
    user-select: none;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    transition: opacity 400ms;
}

#loading.hidden {
    opacity: 0;
    pointer-events: none!important;
}

#no-contacts {
    color: #ffffff99;
    text-align: center;
    position: relative;
    top: 20vh;
    width: 100px;
    left: 50px;
    display: none;
    font-family: 'Roboto Mono', monospace;
}

.no-select {
    user-select: none;
}

.button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background: #ffffff16;
    border-radius: 8px;
    outline: none!important;
    color: white;
    transition: background 200ms;
    font-family: 'Questrial', 'Roboto', 'Sulphur Point', Anodina, sans-serif !important;
    backdrop-filter: blur(3px);
    user-select: none!important;
}

.button:hover {
    background: #ffffff28;
}

.button:active {
    background: #ffffff44;
}

.button.round {
    border-radius: 1000px;
    padding-bottom: 6px;
}

.contact-item {
    padding: 2px 10px;
    cursor: pointer;
    line-height: 6px;
    border-radius: 6px;
    transition: background 100ms;
    user-select: none;
    height: 56px;
}

.contact-item:active {
    background: #2288ff99;
}

.contact-item p {
    display: none;
}

.contact-item:hover {
    background: #2288ff66;
}

.contact-item h3 {
    font-size: 14px;
    font-weight: lighter;
    color: #2288ff;
    display: none;
}

.contact-item .button {
    padding: 2px;
    background: transparent;
    border: none;
}

.contact-item .button i {
    font-size: 18px!important;
}

.contact-item .button:hover {
    color: #2288ff;
}

.contact-item .button.warn:hover {
    color: #ff3333;
}

.contact-item .actions {
    display: none;
}

.contact-item .picture {
    margin: 3px -5px;
    border-radius: 100px;
    float: left;
    width: 50px;
    height: 50px;
}

.contact-item .noimage {
    text-align: center;
    line-height: 40px;
    background: #aaa;
}

#chat-grid.shown {
    width: calc(100vw - 108px);
    height: calc(100vh - 70px);
    position: absolute;
    right: 16px;
    top: 52px;
}

.chat-window {
    height: 100%;
    border-radius: 10px;
    transition: left 300ms ease, width 300ms ease, height 300ms ease;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}

.chat-window .header, .send-message {
    width: calc(100% - 34px);
    height: 24px;
    z-index: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 4px;
    user-select: none;
    padding: 8px;
}

.chat {
    top: 56px;
    width:calc(100% - 34px);
    height:calc(100% - 126px);
    position:absolute;
    padding:8px;
    left:8px;
    overflow-y:auto;
}

.chat .message-wrapper {
    width:calc(100% - 16px);
    background:#ffffff11;
    padding:8px;
    margin:8px;
    height:32px;
    border-radius:4px;
}

.send-message {
    top: calc(100% - 48px);
    padding: 0;
    width: calc(100% - 18px);
    height: 40px;
}

.send-message .input {
    background: transparent;
    border: none !important;
    width: calc(100% - 68px);
    height: calc(100% - 16px);
    margin: 0;
    padding: 8px 12px!important;
    border-radius: 4px;
    transition: box-shadow 150ms, background 150ms;
    font-size: 16px;
}

.send-message .input:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0,0,0,.12);
    background: rgba(255, 255, 255, 0.07);
}

.send-message .input:focus {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 18px 0px rgba(0,0,0,.12);
    background: rgba(255, 255, 255, 0.11);
}

.send-message .send {
    background: transparent;
    margin-left: -10px;
    padding: 6px;
    position: relative;
    top: 6px;
    left: 12px;
    color: #2288ff;
    margin-top: -12px;
    border-radius: 100px;
    padding-right: 5px;
    padding-bottom: 4px;
}

.send-message .send:hover {
    background: #ffffff33;
}

.send-message .send:active {
    background: #2289ff99;
}

.send-message .send.enabled {
    color: #2288ff;
}

.chat-window .header .title {
    font-size: 18px;
    position: relative;
    top: -2px;
    margin-left: 4px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 81px);
}

.chat-window .header .actions.right {
    float: right;
    margin-right: -2px;
}

.chat-window .header .actions .button {
    backdrop-filter: none;
    background: transparent;
    margin-left: 4px;
    padding: 0;
    color: #ffffff77;
}

.chat-window .header .actions .button:hover {
    color: #2288ff;
}

.chat-window .header .actions .close:hover {
    color: #ff2222;
}

.chat-window .header .actions.right .button {
    float: right;
}

.chat-window .header .actions {
    display: inline-block;
    margin-left: -4px;
}

.window-wrapper {
    height: calc(100vh - 70px);
    transition: left 300ms ease, width 300ms ease, height 300ms ease;
    animation: window-wrapper-open 400ms;
}

@keyframes window-wrapper-open {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    85% {
        opacity: 1;
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#chat-grid.single .window-wrapper {
    width: calc(100vw - 108px);
}

#add-contact {
    cursor: pointer;
    padding: 14px;
    padding-left: 16px;
    padding-top: 16px;
    border-radius: 100px;
    margin-bottom: 16px;
    user-select: none;
    transition: background 100ms;
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    border-color: #2288ff;
}

#add-contact:hover {
    background: #2288ff66;
}

#add-contact:active {
    background: #2288ff99;
}

#add-contact>span {
    position: relative;
    top: -6px;
    margin-left: 6px;
    display: none;
}

.window-left-action {
    background: transparent!important;
    backdrop-filter: none;
    padding: 0;
    display: inline-block;
    margin: 16px;
    margin-right: 8px;
}

.window-left-action:hover {
    color: #2288ff;
}

.disabled {
    pointer-events: none;
    opacity: 0.1;
}

.close-new-conversation {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent!important;
    backdrop-filter: none;
    padding: 0;
}

.close-new-conversation:hover {
    color: #ff2222;
}

.new-conversation-form h2 {
    font-weight: lighter;
    text-align: center;
    padding-top: 70px;
}

.new-conversation-form>div {
    width: 100%;
    height: 100%;
}

.new-conversation-continue {
    position: relative;
    left: calc(50vw - 54px - 2.8em);
    top: -76px;
    border: none;
    color: #2288ff;
}

.active-glow {
    transition: background 100ms;
}

.active-glow:active {
    background: #2288ff33;
}

.blue {
    color: #2288ff;
}

@keyframes input-hint {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.input-hint {
    margin-top: 30vh;
    animation: input-hint 3s infinite;
    -moz-animation: input-hint 3s infinite;
    -webkit-animation: input-hint 3s infinite;
    -o-animation: input-hint 3s infinite;
    font-family: 'Roboto Mono', monospace;
}

.input {
    border: none;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    background: #ffffff33;
    font-family: 'Questrial', 'Roboto', 'Sulphur Point', Anodina, sans-serif !important;
    color: white;
    user-select: text;
}

.input:focus {
    background: #ffffff44;
    border: 1px #ffffff66 solid;
    padding: 9px;
}

.new-conversation-phase {
    margin-top: -18px;
    border-radius: 6px;
    height: 100%;
    user-select: none;
}

.new-conversation-form .input {
    background: transparent;
    border: none;
    margin: 0 auto;
    display: inline-block;
    padding: 10px;
    transition: background 100ms, box-shadow 100ms;
    box-shadow: none;
    width: calc(100% - 50px);
    backdrop-filter: blur(6px);
    border: 1px #2288ff solid;
    padding-right: 30px;
}

.new-conversation-form .input::placeholder {
    color: #ffffff66;
}

.new-conversation-form .input:hover {
    -webkit-box-shadow: 0px 0px 6px 0px #2288ff44;
    -moz-box-shadow: 0px 0px 6px 0px #2288ff44;
    box-shadow: 0px 0px 6px 0px #2288ff44;
    background: #2288ff11;
}

.new-conversation-form .input:focus {
    -webkit-box-shadow: 0px 0px 6px 0px #2288ff66;
    -moz-box-shadow: 0px 0px 6px 0px #2288ff66;
    box-shadow: 0px 0px 6px 0px #2288ff66;
    background: #2288ff22;
    border-color: white;
}

.shadow {
    -webkit-box-shadow: 2px 2px 6px 0px #00000066;
    -moz-box-shadow: 2px 2px 6px 0px #00000066;
    box-shadow: 2px 2px 6px 0px #00000066;
}

.fill-window {
    width: calc(100% - 64px)!important;
    margin: auto!important;
    padding: 16px;
    margin-bottom: 16px;
    display: block!important;
}

.rounded {
    border-radius: 10px;
}

.contact-search-result {
    padding: 2px 10px;
    line-height: 6px;
    border-radius: 6px;
    transition: background 100ms, box-shadow 100ms, opacity 300ms;
    user-select: none;
    height: 36px;
    width: calc(100% - 26px);
    max-width: calc(100% - 26px);
    margin-top: -10px;
    text-overflow: clip;
    margin-bottom: 8px;
    color: white;
    opacity: 1;
    overflow: hidden;
}

.contact-search-result.hidden {
    opacity: 0;
}

.contact-search-result:hover {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}

.contact-search-result .picture {
    margin: 3px -5px;
    border-radius: 100px;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.contact-search-result div {
    font-weight: lighter;
    display: inline-block;
    width: calc(100% - 57px);
    height: 100px;
    padding-top: 15px;
    overflow: hidden;
}

.contact-search-result .button {
    cursor: pointer;
    float: right;
    background: transparent;
    border: none!important;
    outline: none!important;
    -webkit-tap-highlight-color: transparent;
    color: #ff2222;
    margin-top: -2px;
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 5px;
    margin-right: -10px;
    backdrop-filter: none;
    z-index:2;
}

.contact-search-result .button:hover {
    color: white;
}

.contact-search-result.red {
    background: #ff2222;
}

.search-profiles-button {
    display: inline-block;
    background: transparent!important;
    position: relative;
    margin-left: -34px;
    top: 6px;
    border-radius: 0;
    padding: 0;
    color: rgb(34, 136, 255);
    padding-top: 7px;
    padding-bottom: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 30px;
    backdrop-filter: none;
}

.hint {
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 4px;
    margin-top: 10px;
}

.bordered {
    border: 1px #ffffff66 solid;
}

.bordered.flat {
    border: 1px #ffffff44 solid;
}

@media screen and (min-width: 720px) {
    body {
        overflow-y: hidden;
    }
    #name {
        width: 220px;
        display: inline-block;
    }
    #chat-space {
        width: calc(100vw - 294px);
    }
    #contacts {
        width: 204px;
    }
    .contact-item .actions {
        float: right;
        position: relative;
        top: -4px;
    }
    .contact-item h3, .contact-item p {
        display: block;
    }
    .contact-item:hover .actions {
        display: block;
    }
    .contact-item .picture {
        margin: 8px -2px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
    #chat-grid.shown {
        width: calc(100vw - 252px);
    }
    #chat-grid.single .window-wrapper {
        width: calc(100vw - 254px);
    }
    #add-contact {
        border-radius: 6px;
        padding: 8px;
        padding-top: 10px;
    }
    #add-contact>span {
        display: inline;
    }
    #no-contacts {
        display: block;
    }
    .new-conversation-continue {
        left: calc(50vw - 127px - 2.8em);
    }
    .fill-window {
        width: 70%!important;
    }
    .new-conversation-form .input {
        padding: 12px;
        padding-right: 30px;
        font-size: 16px;
    }
    #search-profiles-button {
        margin-left: -36px;
    }
}

@media (max-width: 767px) {
    html {
        overflow: hidden;
    }
    body {
        height: 100%;
        position: fixed;
        /* prevent overscroll bounce*/
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        /* iOS velocity scrolling */
        width: 100%;
    }
    html ::-webkit-scrollbar {
        display: none;
        width: 0;
    }
}